@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply bg-gray-900;
  }
}

@layer utilities {
  .smooth-scroll {
    scroll-behavior: smooth;
  }
}

/* Remover scrollbar para navegadores baseados em WebKit */
::-webkit-scrollbar {
  display: none;
}

/* Remover scrollbar para Firefox */
* {
  scrollbar-width: none;
}

/* Garantir que o conteúdo não cause overflow horizontal */
html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  
}

/* Estilos adicionais para melhorar a experiência de rolagem */
.overflow-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Para melhor desempenho de rolagem em dispositivos iOS */
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
